.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #FFF;
    height: 64px;
    width: 100%;
    &_catalog {
        bottom: 0;
        top: auto;
        box-shadow: 0px -2px 24px rgba(4, 3, 31, 0.15);
        border-radius: 20px 20px 0px 0px;
        padding: 0 19px;
        .menu {
            display: block;
        }
        @media (min-width: 768px) {
            border-radius: 0;
            box-shadow: none;
            top: 0;
            left: 0;
            .header__filters {
                display: none;
            }
        }
    }
    &_actions {
        height: 0;
    }
    @media (min-width: 768px) {
        height: 62px;
    }
    @media (min-width: 1366px) {
        height: 67px;
    }
    @media (min-width: 1536px) {
        height: 77px;
    }
    @media (min-width: 1920px) {
        height: 91px;
    }
    &__body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 768px) {
            justify-content: stretch;
            padding: 21px 0 12px 0;
        }
        @media (min-width: 1366px) {
            padding: 0;
            align-items: center;
        }
    }
    &__logo {
        display: none;
        @media(min-width: 768px) {
            display: block;
            width: 184px;
            height: 41px;
            align-self: flex-end;
            img {
                width: 100%;
            }
            margin-right: 167px;
        }
        @media(min-width: 1366px) {
            margin-right: 56px;
            align-self: center;
            order: 1;
        }
        @media(min-width: 1536px) {
            margin-right: 136px;
            width: 224px;
            height: 50px;
        }
        @media(min-width: 1920px) {
            margin-right: 183px;
            width: 267px;
            height: 60px;
        }
    }
    &__nav {
        @media (min-width: 1366px) {
            order: 2;
        }
    }
    &__filters {
        width: 24px;
        height: 24px;
        background: no-repeat center url(../img/header/filters.svg);
    }
    &__favorites {
        margin: 0 18px 0 0;
        width: 24px;
        height: 24px;
        background: no-repeat center url(../img/header/Favorites.svg);
        &_catalog {
            margin: 0;
            @media (min-width: 768px) {
                margin: 0 30px 0 0;
            }
            @media (min-width: 1366px) {
                order: 3;
            }
        }
    }
    &__basket {
        margin: 0 9px 0 0;
        width: 24px;
        height: 28px;
        background: no-repeat center url(../img/header/basket.svg);
        &_catalog {
            margin: 0;
            @media (min-width: 1366px) {
                order: 4;
            }
        }
    }
    &__actions {
        display: flex;
        height: 26px;
        align-items: center;
        &_catalog {
            width: 200px;
            justify-content: space-between;
            @media (min-width: 768px) {
                width: auto;
                justify-content: stretch;
            }
        }
        &_hide {
            display: none;
        }
        @media (min-width: 768px) {
            display: flex;
        }
        @media (min-width: 1366px) {
            order: 3;
            margin-left: auto;
        }
    }
    &__prod-info {
        font-size: 16px;
        line-height: 22px;
        margin: 0 110px 0 0;
        @media(min-width: 768px) {
            display: none;
        }
    }
    &__title {
        font-size: 16px;
        color: #03257C;
    }
    &__arrow {
        width: 26px;
        height: 26px;
        margin: 0 31px 0 0;
        background: no-repeat center url("data:image/svg+xml,%3Csvg width='26' height='18' viewBox='0 0 26 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 10.4444H5.53225L10.7106 15.6228L8.66667 17.6667L0 9.00002L8.66667 0.333355L10.7106 2.37727L5.53225 7.5556H26V10.4444Z' fill='%23020D2B'/%3E%3C/svg%3E%0A");
        @media(min-width: 768px) {
            display: none;
        }
    }
}

//----------------------------------------------------------------------------------
.menu {
    display: none;
    @media(min-width: 768px) {
        display: block;
    }
    &__list {
        position: fixed;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background: #FFFFFF;
        padding: 89px 0 0 16px;
        overflow: auto;
        transition: left 0.3s ease 0s;
        z-index: 4;
        @media (min-width: 1366px) {
            padding: 0;
            position: static;
            background: 0;
            overflow: hidden;
        }
        &_active {
            left: 0;
        }
        li {
            margin: 0 0 46px 0;
            &:last-child {
                margin: 0;
            }
            @media (min-width:768px) {
                margin: 0 0 70px 0;
            }
            @media (min-width: 1366px) {
                display: inline-block;
                margin: 0 32px 0 0;
            }
            @media (min-width: 1536px) {
                margin: 0 40px 0 0;
            }
            @media (min-width: 1920px) {
                margin: 0 64px 0 0;
            }
        }
        &_catalog {
            @media (min-width: 1366px) {
                margin-right: 145px;
            }
            @media(min-width: 1536px) {
                margin-right: 206px;
            }
            @media(min-width: 1920px) {
                margin-right: 382px;
            }
        }
    }
    &__link {
        position: relative;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        color: #020D2B;
        transition: color 0.3s ease;
        &_selected {
            color: #03257C;
            &::after {
                left: 105%;
                top: 20px;
                content: '';
                position: absolute;
                z-index: 10;
                width: 8px;
                height: 8px;
                background: #03257C;
                border-radius: 50%;
                @media (min-width: 768px) {
                    width: 12px;
                    height: 12px;
                    top: 36px;
                    left: 110%;
                }
            }
            @media (min-width:1366px) {
                &::after {
                    display: none;
                }
            }
        }
        &:hover {
            color: #58778D;
        }
        @media (min-width:768px) {
            font-size: 56px;
        }
        @media (min-width:1366px) {
            font-size: 18px;
            line-height: 25px;
        }
    }
    &__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 28px;
        height: 21px;
        cursor: pointer;
        &::before,
        &::after,
        span {
            left: 0;
            position: absolute;
            height: 3px;
            transition: all 0.3s ease 0s;
            background-color: #020D2B;
        }
        &::before {
            content: "";
            bottom: 0;
            width: 100%;
        }
        &::after {
            content: "";
            top: 0;
            width: 25px;
        }
        span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
            width: 19px;
        }
        &_active {
            position: fixed;
            top: 36px;
            left: 16px;
            span {
                transform: scale(0) translate(0, -50%);
            }
            &::before {
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
            &::after {
                top: 47%;
                width: 100%;
                transform: rotate(-45deg) translate(0, -50%);
            }
        }
        @media(min-width: 768px) {
            margin-right: 228px;
        }
        @media (min-width: 1366px) {
            display: none;
        }
    }
}