.offers {
    width: 100vw;
    display: flex;
    cursor: grab;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 200px;
        border-radius: 10px;
        margin: 0 16px 0 0;
        flex: 0 0 152px;
        overflow: hidden;
        padding: 0 10px;
        @media(min-width: 768px) {
            display: flex;
            height: 126px;
            padding: 13px 0 23px 16px;
            flex: 0 0 336px;
        }
        @media(min-width: 1366px) {
            padding: 6px 47px 14px 20px;
            flex: 0 0 392px;
            margin: 0 24px 0 0;
        }
        @media(min-width: 1366px) {
            padding: 6px 45px 14px 20px;
            flex: 0 0 424px;
            height: 152px;
            margin: 0 32px 0 0;
        }
        &_dark {
            background: #020056;
        }
        &_light {
            background: #E2F1FF;
        }
    }
    &__text {
        color: #D4F9FF;
        text-align: center;
        &_dark {
            color: #020056;
        }
        @media(min-width: 768px) {
            text-align: start;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        @media(min-width: 768px) {
            font-size: 20px;
            margin: 13px 0 0 0;
        }
        @media(min-width: 1366px) {
            font-size: 20px;
        }
        @media(min-width: 1536px) {
            font-size: 24px;
            margin: 22px 0 0 0;
        }
    }
    &__dscr {
        font-size: 14px;
        line-height: 25px;
        margin: 5px 0 0 0;
        @media(min-width: 768px) {
            font-size: 16px;
        }
        @media(min-width: 1536px) {
            font-size: 18px;
            margin: 6px 0 0 0;
        }
    }
    &__img {
        width: 100px;
        height: 100px;
        img {
            width: 100%;
        }
    }
}