

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reverse{
    transform: rotateX(180deg);
}

.sorting {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    > div {
        cursor: pointer;
        padding: 0 10px;
        display: flex;
        align-items: center;
    }
}

.inactive {
    color: #58778D;
}
.active {
    color: #03257C;
}

.margin {
    margin-top: 30px;
}

.page {
    //width: 80px !important;
    //height: 80px !important;
    margin: 0 10px;
    padding: 20px 24px;
    font-size: 18px;
    background-color: #e2f1ff;
}

.paginationContainer {
    width: 100%;
    margin-bottom: 40px;
}
