.cartGrid {
    width: 75% !important;
}

@media (max-width: 1278px) {
    .cartGrid {
        width: 100% !important;
    }
    .cartSidebar {
        width: 100% !important;
    }
    .cart {
        flex-direction: column;
    }
}
@media (max-width: 1300px) {
    .item {
        width: calc(50% - 8px) !important;
    }
}

.cartSidebar {
    width: 25%;
}

.cart {
    display: flex;
}

.item {
    width: calc(33% - 32px);
}
