.footer {
    height: 558px;
    @media (min-width: 768px) {
        height: 442px;
    }
    @media (min-width: 1366px) {
        height: 341px;
    }
    @media (min-width: 1536px) {
        height: 366px;
    }
    @media (min-width: 1920px) {
        height: 339px;
    }
    &__container {
        padding: 26px 0 60px 0;
        border-top: 1px solid #B7CBD9;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, min-content);
            padding: 52px 0 59px 0;
        }
        @media (min-width: 1366px) {
            height: 100%;
            grid-template-columns: auto auto;
            grid-template-rows: min-content min-content;
            row-gap: 32px;
            padding: 55px 0 85px 0;
            column-gap: 200px;
        }
        @media (min-width: 1536px) {
            grid-template-columns: 5fr 4fr 3fr;
            align-items: start;
            justify-items: start;
            row-gap: 73px;
            padding: 55px 0 90px 0;
            column-gap: 0;
        }
        @media (min-width: 1920px) {
            grid-template-columns: 4fr 3fr 2fr;
            padding: 44px 126px 81px 155px;
        }
    }
    &__logo {
        max-width: 321px;
        max-height: 28px;
        margin: 0 0 44px 0;
        img {
            width: 100%;
        }
        @media (min-width: 768px) {
            max-width: 461px;
            max-height: 44px;
            margin: 0 0 64px 0;
            grid-column: 1/-1;
        }
        @media (min-width: 1366px) {
            margin: 0;
            grid-column: 1;
        }
        @media (min-width: 1536px) {
            grid-column: 1/-1;
        }
    }
    &__section-title {
        font-weight: 600;
        font-size: 16px;
        color: #020B22;
        margin: 0 0 21px 0;
    }
    &__item {
        display: block;
        font-size: 14px;
        color: #58778D;
        margin-bottom: 7px;
    }
    &__categories {
        display: flex;
        flex-wrap: wrap;
    }
    &__cooperation {
        margin: 0 0 50px 0;
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    &__social {
        display: flex;
        @media (min-width: 768px) {
            margin: 14px 0 0 0;
            align-items: center;
        }
        @media (min-width: 1536px) {
            align-items: flex-end;
        }
    }
}

//----------------------------------------------------------------------------------
.goods {
    padding: 0 0 30px 0;
    @media(min-width: 768px) {
        grid-column: 1/-1;
    }
    @media (min-width: 1366px) {
        grid-column: 1;
    }
    @media (min-width: 1536px) {
        padding: 0;
    }
    @media (min-width: 1920px) {}
    &__item {
        margin: 0 24px 22px 0;
    }
}

//----------------------------------------------------------------------------------
.contacts {
    @media (min-width: 768px) {
        display: flex;
        align-items: flex-end;
    }
    @media (min-width: 1366px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    @media (min-width: 1536px) {
        grid-column: 2;
        grid-row: 2/3;
        flex-direction: row;
        align-items: flex-end;
    }
    &__item {
        @media (min-width: 768px) {
            margin: 0 40px 0 0;
        }
        @media (min-width: 1536px) {
            margin: 0 52px 0 0;
        }
        @media (min-width: 1920px) {
            margin: 0 58px 0 0;
        }
    }
    &__items {
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-end;
        }
    }
    &__mail {
        margin: 0 0 24px 0;
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    &__subtitle {
        margin: 0 0 6px 0;
    }
    &__icon {
        margin: 0 14px 0 0;
    }
    &__text {
        font-size: 14px;
        line-height: 19px;
        color: #020D2B;
    }
    &__link {
        color: #16E7F4;
    }
}